**Shubham Gopal Raul**  
*CB.EN.P2AEL23023*<br>

## <center>21BM681 Machine Learning and Embedded Programming Lab 5</center>

### <center>Data Preprocessing</center>

In [463]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [464]:
data = pd.read_csv('../Data/dataset.csv')
data.head()

     status  bed  bath  acre_lot  house_size   price
0  for_sale  3.0   2.0      0.12       920.0  105000
1  for_sale  4.0   2.0      0.08      1527.0   80000
2  for_sale  2.0   1.0      0.15       748.0   67000
3  for_sale  4.0   2.0      0.10      1800.0  145000
4  for_sale  6.0   2.0      0.05         NaN   65000

<br></br>

For the given dataset do 
-  Handling of missing value.

In [465]:
print('NA values before Handling')
data.isna().sum()

NA values before Handling

status         0
bed           24
bath          23
acre_lot       4
house_size    24
price          0
dtype: int64

In [466]:
def dropNA(df):
    for i in df.columns:
        if df[i].isna().sum()>0:
            for j in range(0,len(df[i])):
                try:
                    if np.isnan(df[i][j]):
                        df.drop(j,inplace=True)
                except:
                    continue
    return df

In [467]:
print('NA values after handling')
data = dropNA(data)
data.isna().sum()

NA values after handling

status        0
bed           0
bath          0
acre_lot      0
house_size    0
price         0
dtype: int64

<br></br>

- Smoothing by bin means
- Smoothing by bin median

In [468]:
def Smoothing(df,strategy,k):
    try:
        df = df.to_frame()
    except :
        pass
    for i in df.select_dtypes('number').columns:
        df.sort_values(by=i,inplace=True)
        for j in range(0,len(df[i]),k):
            if strategy == 'mean':
                val = sum(df[i][j:j+k])/k
            if strategy == 'median':
                val = np.median(df[i][j:j+k])
            if(j+k) <= len(df[i]):
                df[i][j:j+k] = [val for i in range(0,k)]
    return df

In [469]:
print("Before binning by mean on column 'bed','bath','acre_lot'")
data[['bed','bath','acre_lot']].head()

Before binning by mean on column 'bed','bath','acre_lot'

   bed  bath  acre_lot
0  3.0   2.0      0.12
1  4.0   2.0      0.08
2  2.0   1.0      0.15
3  4.0   2.0      0.10
5  4.0   3.0      0.46

In [470]:
print("After binning by mean on column 'bed','bath','acre_lot'")
data[['bed','bath','acre_lot']] = Smoothing(data[['bed','bath','acre_lot']],'mean',3)
data[['bed','bath','acre_lot']].head()

After binning by mean on column 'bed','bath','acre_lot'

        bed      bath  acre_lot
0  2.666667  1.333333  0.123333
1  4.000000  2.000000  0.080000
2  1.333333  1.333333  0.153333
3  4.000000  2.000000  0.100000
5  4.000000  3.000000  0.416667

In [471]:
print("Before binning by median on column 'house_size' 'price'")
data[['house_size','price']].head()

Before binning by median on column 'house_size' 'price'

   house_size   price
0       920.0  105000
1      1527.0   80000
2       748.0   67000
3      1800.0  145000
5      2520.0  179000

In [472]:
print("After binning by median on column 'house_size' 'price'")
data[['house_size','price']] = Smoothing(data[['house_size','price']],'median',3)
data[['house_size','price']].head()

After binning by median on column 'house_size' 'price'

   house_size     price
0       936.0  105000.0
1      1527.0   89000.0
2       621.0   70500.0
3      1800.0  145000.0
5      2618.0  180000.0

<br></br>

- Data Normalization (Without using inbuilt function)

In [473]:
data.reset_index(inplace=True)

In [474]:
def Normalize(df):
    try:
        df = df.to_frame()
    except :
        pass
    for i in df.select_dtypes('number').columns:
        Min,diff= min(df[i]),max(df[i])-min(df[i])
        for j in range(0,len(df[i])):
            df[i][j] = round((df[i][j]-Min)/diff,2)
    return df

In [475]:
print('Before Normalizing column prize and house_size')
data[['house_size','price']].head()

Before Normalizing column prize and house_size

   house_size     price
0       936.0  105000.0
1      1527.0   89000.0
2       621.0   70500.0
3      1800.0  145000.0
4      2618.0  180000.0

In [476]:
print('Before Normalizing column prize and house_size')
data[['house_size','price']]=Normalize(data[['house_size','price']])
data[['house_size','price']].head()

Before Normalizing column prize and house_size

   house_size  price
0        0.04   0.01
1        0.10   0.00
2        0.00   0.00
3        0.14   0.01
4        0.23   0.01

<br></br>

- Data Standardization (Without using inbuilt function)

In [477]:
def Standardize(df):
    try:
        df = df.to_frame()
    except :
        pass
    for i in df.select_dtypes('number').columns:
        mean,std = np.mean(df[i]),np.std(df[i])
        for j in range(0,len(df[i])):
            df[i][j] = round((df[i][j]-mean)/std,2)
    return df

In [478]:
print('Before Standardizing column prize and house_size')
data[['bed','bath','acre_lot']].head()

Before Standardizing column prize and house_size

        bed      bath  acre_lot
0  2.666667  1.333333  0.123333
1  4.000000  2.000000  0.080000
2  1.333333  1.333333  0.153333
3  4.000000  2.000000  0.100000
4  4.000000  3.000000  0.416667

In [479]:
print('After Standardizing column prize and house_size')
data[['bed','bath','acre_lot']]=Standardize(data[['bed','bath','acre_lot']])
data[['bed','bath','acre_lot']].head()

After Standardizing column prize and house_size

    bed  bath  acre_lot
0 -0.82 -0.94     -0.40
1  0.13 -0.42     -0.42
2 -1.78 -0.94     -0.38
3  0.13 -0.42     -0.41
4  0.13  0.37     -0.26