**Shubham Gopal Raul**  
*CB.EN.P2AEL23023*<br>

## <center>21BM681 Machine Learning and Embedded Programming Lab 2</center>

<br>  
1. Create a python list, update the list.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#Creating the python list
ans1 = [i for i in range(1,20)]
print('List :  ',ans1)
#Updating List
ans1.append(55)
ans1.append(41)
print('Updated List :  ',ans1)

List :   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Updated List :   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 55, 41]

<br>  
2. Create a python tuple, a sub-tuple from it. Compare list and tuple and note the inference

In [3]:
ans2_1 = (1,2,3,4,5,6,7)
ans2_2 = ans2_1[2:5]
print('Tuple :  ',ans2_1)
print('Sub-Tuple :  ',ans2_2)

Tuple :   (1, 2, 3, 4, 5, 6, 7)
Sub-Tuple :   (3, 4, 5)

 - From this observation, when python Tuple is compared list, The tuple can not be added or remove elements once it has been created thus its **Immutable** on the other hand List elements can be changed after creation, thus its **Mutable** We can use the tuples when you have a collection of items that should remain constant throughout the program's execution and List use will be when you need a collection of items that might change over time.


3. Create a data set having 20 samples and five features. Check the below functions.

- Shape
- Describe
- Values
- Head
- Groupby
- drop a column

In [4]:
np.random.seed(100)
data = {
    'Roll No': list(np.arange(101,121,1)),
    'Name': ['Aarav', 'Diya', 'Aditi', 'Aryan', 'Isha', 'Rahul', 'Neha', 'Riya', 'Ananya', 'Amit',
                'Vikram', 'Sneha', 'Rajesh', 'Pooja', 'Arjun', 'Deepika', 'Rohan', 'Kavya', 'Sachin', 'Swati'],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male',
               'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Subject 1': list(np.random.randint(60,100,size=20)),
    'Subject 2': list(np.random.randint(40,100,size=20))
}
df = pd.DataFrame(data)
#Finding the fuction values 
print('Shape :  ',df.shape,end='\n\n',sep='\n')
print('Description :  ',df.describe(),end='\n\n',sep='\n')
print('Values :  ',df.values,end='\n\n',sep='\n')
print('head :  ',df.head(),end='\n\n',sep='\n')
df_grp = df.groupby('Gender')
print('Groupby :  ',df_grp.first(),end='\n\n',sep='\n')
print('drop a column :  ',df.drop('Subject 2',axis=1),end='\n\n',sep='\n')

Shape :
(20, 5)

Description :
         Roll No  Subject 1  Subject 2
count   20.00000  20.000000  20.000000
mean   110.50000  81.050000  64.800000
std      5.91608  11.445408  20.643847
min    101.00000  62.000000  41.000000
25%    105.75000  73.000000  44.000000
50%    110.50000  82.500000  63.000000
75%    115.25000  91.000000  84.750000
max    120.00000  99.000000  99.000000

Values :
[[101 'Aarav' 'Male' 68 42]
 [102 'Diya' 'Female' 84 67]
 [103 'Aditi' 'Female' 63 84]
 [104 'Aryan' 'Male' 99 44]
 [105 'Isha' 'Female' 83 71]
 [106 'Rahul' 'Male' 75 41]
 [107 'Neha' 'Female' 70 53]
 [108 'Riya' 'Female' 90 93]
 [109 'Ananya' 'Female' 94 59]
 [110 'Amit' 'Male' 62 76]
 [111 'Vikram' 'Male' 94 44]
 [112 'Sneha' 'Female' 74 67]
 [113 'Rajesh' 'Male' 94 99]
 [114 'Pooja' 'Female' 84 43]
 [115 'Arjun' 'Male' 75 47]
 [116 'Deepika' 'Female' 96 89]
 [117 'Rohan' 'Male' 76 87]
 [118 'Kavya' 'Female' 69 41]
 [119 'Sachin' 'Male' 89 54]
 [120 'Swati' 'Female' 82 95]]

head :
   Roll No   Name  Gender  Subject 1  Subject 2
0      101  Aarav    Male         68         42
1      102   Diya  Female         84         67
2      103  Aditi  Female         63         84
3      104  Aryan    Male         99         44
4      105   Isha  Female         83         71

Groupby :
        Roll No   Name  Subject 1  Subject 2
Gender
Female      102   Diya         84         67
Male        101  Aarav         68         42

drop a column :
    Roll No     Name  Gender  Subject 1
0       101    Aarav    Male         68
1       102     Diya  Female         84
2       103    Aditi  Female         63
3       104    Aryan    Male         99
4       105     Isha  Female         83
5       106    Rahul    Male         75
6       107     Neha  Female         70
7       108     Riya  Female         90
8       109   Ananya  Female         94
9       110     Amit    Male         62
10      111   Vikram    Male         94
11      112    Sneha  Female         74
12      113   Rajesh    Male         94
13      114    Pooja  Female         84
14      115    Arjun    Male         75
15      116  Deepika  Female         96
16      117    Rohan    Male         76
17      118    Kavya  Female         69
18      119   Sachin    Male         89
19      120    Swati  Female         82

<br><br>  
4. Read a csv file using pandas and do the following

In [5]:
#Reading the iris Dataset
Iris = pd.read_csv('../Data/iris.csv',names=['Sepal_length','Sepal_width','Petal_length','Petal_width','Species'])
Iris.head(3)

   Sepal_length  Sepal_width  Petal_length  Petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

- Print the information about the data

In [6]:
print('Information :  ')
print(Iris.info())

Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_length  150 non-null    float64
 1   Sepal_width   150 non-null    float64
 2   Petal_length  150 non-null    float64
 3   Petal_width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

- Print the statistical information such as mean, standard deviation

In [7]:
print('Statistics :  ',Iris.describe(),sep='\n')

Statistics :
       Sepal_length  Sepal_width  Petal_length  Petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

- Print the data types of each column

In [8]:
print('Data Types :  ',Iris.dtypes,sep='\n')

Data Types :
Sepal_length    float64
Sepal_width     float64
Petal_length    float64
Petal_width     float64
Species          object
dtype: object

- Breakdown of the data by class variable

In [9]:
Iris_grp = Iris.groupby('Species')
print('Group 1 Iris_setosa :  ',Iris_grp.get_group('Iris-setosa').head(3),sep='\n',end='\n\n')
print('Group 2 Iris_virginica :  ',Iris_grp.get_group('Iris-virginica').head(3),sep='\n',end='\n\n')
print('Group 3 Iris_versicolor :  ',Iris_grp.get_group('Iris-versicolor').head(3),sep='\n')

Group 1 Iris_setosa :
   Sepal_length  Sepal_width  Petal_length  Petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

Group 2 Iris_virginica :
     Sepal_length  Sepal_width  Petal_length  Petal_width         Species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica

Group 3 Iris_versicolor :
    Sepal_length  Sepal_width  Petal_length  Petal_width          Species
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor

- Importing the data, Splitting the data into training/ test sets

In [11]:
X_train, X_test, y_train, y_test = train_test_split(Iris.drop(Iris.columns[-1],axis=1),Iris['Species'], test_size=0.2, random_state=100)
print('X Trainig data size :  ',len(X_train),end='\n\n')
print('Y Trainig data size :  ',len(y_train),end='\n\n')
print('X Testing data size :  ',len(X_test),end='\n\n')
print('Y Testing data size :  ',len(y_test),end='\n\n')

X Trainig data size :   120

Y Trainig data size :   120

X Testing data size :   30

Y Testing data size :   30

- Check the functions mentioned in question 3.

In [12]:
#Finding the fuction values 
print('Iris Shape :  ',Iris.shape,end='\n\n',sep='\n')
print('Iris Description :  ',Iris.describe(),end='\n\n',sep='\n')
print('Iris Values :  ',Iris.values[:5],end='\n\n',sep='\n')
print('Iris head :  ',Iris.head(),end='\n\n',sep='\n')
Iris_grp = Iris.groupby('Species')
print('Groupby :  ',Iris_grp.first(),end='\n\n',sep='\n')
print('drop a column :  ',Iris.drop('Species',axis=1),end='\n\n',sep='\n')

Iris Shape :
(150, 5)

Iris Description :
       Sepal_length  Sepal_width  Petal_length  Petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Iris Values :
[[5.1 3.5 1.4 0.2 'Iris-setosa']
 [4.9 3.0 1.4 0.2 'Iris-setosa']
 [4.7 3.2 1.3 0.2 'Iris-setosa']
 [4.6 3.1 1.5 0.2 'Iris-setosa']
 [5.0 3.6 1.4 0.2 'Iris-setosa']]

Iris head :
   Sepal_length  Sepal_width  Petal_length  Petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Groupby :
                 Sepal_length  Sepal_width  Petal_length  Petal_width
Species
Iris-setosa               5.1          3.5           1.4          0.2
Iris-versicolor           7.0          3.2           4.7          1.4
Iris-virginica            6.3          3.3           6.0          2.5

drop a column :
     Sepal_length  Sepal_width  Petal_length  Petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

<br><br>  
5. Write a python program that applies the following loop statements: if, if else, elif, while,for.

In [14]:
# program to list all prime numbers between an interval
Nmin,Nmax = [1,50]
Prime=[]
for i in range(Nmin,Nmax+1):
    s,j=1,2
    if i <= 1:
        s=0
    elif i <= 3:
        Prime.append(i)
        continue
    while j*j <= i:
        if i%j==0:
            s=0
        j += 1
    if s==1:
        Prime.append(i)
        continue
print('Prime Number between {} to {} are :  '.format(Nmin,Nmax),Prime,sep='\n\n')

Prime Number between 1 to 50 are :

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

<br><br>
6. Write a user defined function program for performing a task.

In [15]:
def fibonacci_series(n):
    arr = []
    val0, val1 = 0, 1
    for i in range(n):
        arr.append(val0)
        val0,val1 = val1, val0 + val1
    return arr

print('Fibonacci Series :  ',fibonacci_series(25),sep='\n')

Fibonacci Series :
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]