**Shubham Gopal Raul**  
*CB.EN.P2AEL23023*<br>

## <center>21BM681 Machine Learning and Embedded Programming Lab 4</center>

### <center>Encoding Technique</center>

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
# We are going to use Titanic Dataset for Encoding
Titanic = pd.read_csv('../Data/Titanic_Dataset.csv',index_col='PassengerId')
Titanic.dropna(inplace=True)
Titanic.head(3)

,Unnamed: 0,Name,Gender,Age,SibSp,Parch,Fare,Passenger_Class,Embark,Survived
PassengerId,,,,,,,,,,
1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,3rd class,Southampton,0
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,1st class,Cherbourg,1
3,2,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,3rd class,Southampton,1

### Label Encoding

In the Titanic dataset the column of "Embark" and "Gender" are categorical feature which need to converted in categorical integers, since there is no order for these label we can use Label Encoding for these

In [3]:
# Encoding using mapping function
embark_map = {'Cherbourg':0,'Queenstown':1,'Southampton':2}
Titanic['Embark_map'] = Titanic['Embark'].map(embark_map)
gender_map = {'male':1,'female':0}
Titanic['Gender_map'] = Titanic['Gender'].map(gender_map)
Titanic['Embark_map'].value_counts()
Titanic['Gender_map'].value_counts()

1    453
0    259
Name: Gender_map, dtype: int64

In [4]:
#using sklearn preprocessing model
Label_Encoder = preprocessing.LabelEncoder()
Titanic['Embark_prep'] = Label_Encoder.fit_transform(Titanic['Embark'])
Titanic['Gender_prep'] = Label_Encoder.fit_transform(Titanic['Gender'])
Titanic['Embark_prep'].value_counts()
Titanic['Gender_prep'].value_counts()

1    453
0    259
Name: Gender_prep, dtype: int64

In [5]:
print(Titanic[['Embark','Embark_map','Embark_prep']].head(),Titanic[['Gender','Gender_map','Gender_prep']].head(),sep='\n\n')

                  Embark  Embark_map  Embark_prep
PassengerId
1            Southampton           2            2
2              Cherbourg           0            0
3            Southampton           2            2
4            Southampton           2            2
5            Southampton           2            2

             Gender  Gender_map  Gender_prep
PassengerId
1              male           1            1
2            female           0            0
3            female           0            0
4            female           0            0
5              male           1            1

### Ordinal Encoding

In the titanic dataset for column passenger class since the values are in ordered label we can perform ordinal Encoding on this dataset

In [6]:
# Encoding using mapping function
PClass_map = {'1st class':0.,'2nd class':1.,'3rd class':2.}
Titanic['Passenger_Class_map'] = Titanic['Passenger_Class'].map(PClass_map)
Titanic['Passenger_Class_map'].value_counts()

2.0    355
0.0    184
1.0    173
Name: Passenger_Class_map, dtype: int64

In [8]:
#using sklearn preprocessing model
Ordinal_Encoder = preprocessing.OrdinalEncoder(categories=[['1st class','2nd class','3rd class']])
Titanic['Passenger_Class_prep'] = Ordinal_Encoder.fit_transform(Titanic[['Passenger_Class']])
Titanic['Passenger_Class_prep'].value_counts()

2.0    355
0.0    184
1.0    173
Name: Passenger_Class_prep, dtype: int64

In [9]:
print(Titanic[['Passenger_Class','Passenger_Class_map','Passenger_Class_prep']].head(),sep='\n\n')

            Passenger_Class  Passenger_Class_map  Passenger_Class_prep
PassengerId
1                 3rd class                  2.0                   2.0
2                 1st class                  0.0                   0.0
3                 3rd class                  2.0                   2.0
4                 1st class                  0.0                   0.0
5                 3rd class                  2.0                   2.0

### One-Hot Encoding

In [10]:
print(Titanic['SibSp'].value_counts(), Titanic['Parch'].value_counts(),sep='\n\n')

0    469
1    183
2     25
4     18
3     12
5      5
Name: SibSp, dtype: int64

0    519
1    110
2     68
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

<br>


- In the titanic dataset we can use catgorical integer column "Parch" to One-Hot Encoding.

In [11]:
# Encoding using dummies function
one_hot_encoded_parch = pd.get_dummies(Titanic['Parch'], prefix='Parch')
Titanic_dummy = pd.concat([Titanic, one_hot_encoded_parch], axis=1)
print(Titanic_dummy.loc[:,'Parch_0':'Parch_6'].head())

             Parch_0  Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6
PassengerId
1                  1        0        0        0        0        0        0
2                  1        0        0        0        0        0        0
3                  1        0        0        0        0        0        0
4                  1        0        0        0        0        0        0
5                  1        0        0        0        0        0        0

In [12]:
# Encoding using preprocessing function
OneHot_Encoder = preprocessing.OneHotEncoder()
encoded_parch = OneHot_Encoder.fit_transform(Titanic[['Parch']]).toarray()
encoded_parch_df = pd.DataFrame(encoded_parch, columns=[f'Parch_{i}' for i in range(encoded_parch.shape[1])])
Titanic_prep = pd.concat([Titanic, encoded_parch_df], axis=1)
print(Titanic_prep.loc[:,'Parch_0':'Parch_6'].head())

   Parch_0  Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6
1      1.0      0.0      0.0      0.0      0.0      0.0      0.0
2      1.0      0.0      0.0      0.0      0.0      0.0      0.0
3      1.0      0.0      0.0      0.0      0.0      0.0      0.0
4      1.0      0.0      0.0      0.0      0.0      0.0      0.0
5      1.0      0.0      0.0      0.0      0.0      0.0      0.0